body{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: url(background.png);
}
a{
    text-decoration: none;
    color: #000000;
}
.profil{
    position: absolute;
    width: 96px;
    height: 55px;
    left: calc(50% - 96px/2 - 527px);
    top: calc(50% - 55px/2 - 439.5px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
}
.beranda{
    position: absolute;
    width: 114px;
    height: 41px;
    left: calc(50% - 114px/2 + 82px);
    top: calc(50% - 41px/2 - 439.5px);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}
.kontak{
    position: absolute;
    width: 94px;
    height: 41px;
    left: calc(50% - 94px/2 + 222px);
    top: calc(50% - 41px/2 - 439.5px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}
.aplikasi{
    position: absolute;
    width: 108px;
    height: 41px;
    left: calc(50% - 108px/2 + 359px);
    top: calc(50% - 41px/2 - 439.5px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}
.saran{
    position: absolute;
    width: 78px;
    height: 41px;
    left: calc(50% - 78px/2 + 488px);
    top: calc(50% - 41px/2 - 439.5px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}
.fotodiri{
    width: 0px;
    height: 0px;
    position: relative;
    left: 143px;
    top: 50px;
}
.foto{
    box-sizing: border-box;
    position: absolute;*/
    width: 274px;
    height: 314px;
    left: 193px;
    top: 271px;
    border: 1px solid #000000;
    border-radius: 14px;
}
.nama{
    position: absolute;
    height: 61px;
    left: 521px;
    top: 344px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;

    color: #000000;
}
.mahasiswa{
    position: absolute;
    width: 792px;
    height: 48px;
    left: 521px;
    top: 428px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    color: #000000;
}
.komputer{
    position: absolute;
    width: 396px;
    height: 286px;
    left: 132px;
    top: 608px;
}
.kemampuan{
    position: absolute;
    width: 184px;
    height: 41px;
    left: 577px;
    top: 660px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}
.list{
    position: absolute;
    width: 481px;
    height: 123px;
    left: 557px;
    top: 685px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;

    color: #000000;
}
.copyright{
    position: absolute;
    width: 397px;
    height: 27px;
    left: calc(50% - 397px/2 - 0.5px);
    top: calc(50% - 27px/2 + 483.5px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}
.twitter{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 15px;
    top: 426px;

}
.email{
    position: absolute;
    width: 172px;
    height: 170px;
    left: 324px;
    top: 426px;
}
.instagram{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 635px;
    top: 426px;
}
.youtube{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 945px;
    top: 426px;
}
.wa{
    position: absolute;
    width: 170px;
    height: 173.05px;
    left: 1255px;
    top: 426px;
}
.fungsi{
    position: absolute;
    width: 215px;
    height: 82px;
    left: 145px;
    top: 471px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;

    color: #000000;
}
.form{
    position: absolute;
    width: 85px;
    height: 41px;
    left: 678px;
    top: 482px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}
.jam{
    position: absolute;
    width: 58px;
    height: 41px;
    left: 1137px;
    top: 482px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}